*{
	margin: 0;
	padding: 0;
	font-family: "poppins", sans-serif;
	box-sizing: border-box;
}


.container{
	width: 100%;
	height: 100vh;
	background: rgb(17, 154, 204);
	display: flex;
	align-items: center;
	justify-content: center;
}
.calculator{
	background: rgb(27, 31, 32);
	padding: 20px;
	border-radius: 10px;
}
.calculator form input{
	border: 0;
	outline: 0;
	width: 60px;
	height: 60px;
	border-radius: 10px;
	box-shadow: -3px -3px 8px #0b92e0, -3px -3px 8px #158cbb;
	
	font-size: 20px;
	color: rgb(16, 13, 3);
	cursor: pointer;
	margin: 10px;
}

form .display{
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;

}
form .display input{
	text-align: right;
	flex: 1;
	font-size: 30px;
	box-shadow: rgb(210, 210, 60);
}


form input.operator2{
	background: red;
}

form input.operator1{
	background: rgb(51, 212, 51);
}

form input.operator3{
	background: rgb(218, 196, 27);
}

form input.operator4{
	background: rgb(221, 92, 28);
}